{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Manage Services</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Base Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.name }}</td>
                    <td>{{ service.price }}</td>
                    <td>
                        <a href="/admin/services/update_service/{{ service.id }}" class="btn btn-warning">Edit</a>
                        <a href="/admin/services/delete_service/{{ service.id }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <a href="{{ url_for('create_services') }}"  class="btn btn-primary">Create Service</a>
        </div>    
        <h3>Manage Professionals</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Service</th>
                    <th>Experience</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for professional in professional_profile %}
                <tr>
                    <td>{{ professional.user_id }}</td>
                    <td>{{ professional.full_name }}</td>
                    <td>{{ professional.service_type }}</td>
                    <td>{{ professional.experience }}</td>
                    <td>
                        <a href="/admin/approve_professional/{{ professional.id }}" class="btn btn-success">Approve</a>
                        <a href="/admin/block_professional/{{ professional.id }}" class="btn btn-danger">Block</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Service Requests</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Assigned Professional</th>
                    <th>Requested Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for service_request in service_requests%}
                <tr>
                    <td>{{ service_request.id }}</td>
                    <td>{{ service_request.professional_id}}</td>
                    <td>{{ service_request.date_of_request}}</td>
                    <td>{{ service_request.service_status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
