<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complete Your Profile</title>
</head>
<body>
    <h1>Complete Your Professional Profile</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.user_name.label }}<br>
            {{ form.user_name(class="form-control", readonly=True) }}<br>
            {% if form.user_name.errors %}
                <span>{{ form.user_name.errors[0] }}</span><br>
            {% endif %}
        </div>
        <div>
            {{ form.service_type.label }}<br>
            {{ form.service_type }}<br>
            {% if form.service_type.errors %}
                <span>{{ form.service_type.errors[0] }}</span><br>
            {% endif %}    
        </div>
        <div>
            {{ form.experience.label }}<br>
            {{ form.experience }}<br>
            {% if form.experience.errors %}
                <span>{{ form.experience.errors[0] }}</span><br>
            {% endif %}
        </div>
        <div>
            {{ form.description.label }}<br>
            {{ form.description }}<br>
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
</body>
</html>